<div class="row">
    <div class="col-4 center">
        <img src="assets/images/ajpi.jpg" alt="AJPI" class="footer-image">
    </div>
    <div class="col-4 center">
        <img src="assets/images/ajal_logo.gif" alt="AJAL" class="footer-image">
    </div>
    <div class="col-4 center">
        <img src="assets/images/faapi.jpg" alt="FAAPI" class="footer-image">
    </div>
</div>
<div class="row social-media white-text">
    <div class="col-4">
        <div class="row">
            <h1>¡Seguinos en nuestras redes!</h1>
        </div>
        <div class="row right">
            <div class="col-8">
                <a class="white-text link-hover" href="https://www.facebook.com/ajpi.inglesjujuy">
                    <i class="fab fa-facebook-square fa-3x"></i>
                </a>
                &nbsp;
                <a href="" class="white-text link-hover">
                    <i class="fab fa-instagram-square fa-3x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <h1>Links rápidos</h1>
        </div>
        <div class="row right">
            <div class="col">
                <ul>
                    <li>
                        <a href="https://www.ajpiweb.com" target="_self" class="white-text">Asociación Jujeña de Profesores de Inglés</a>
                    </li>
                    <li>
                        <a href="https://faapi.org.ar/ajal/" target="_self" class="white-text">Argentinian Journal of Applied Linguistics</a>
                    </li>
                    <li>
                        <a href="https://www.faapi.org.ar/" target="_self" class="white-text">Federación Argentina de Asociaciones de Profesores de Inglés</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-4 center">
        <div class="row">
            <h1>Comisión Directiva</h1>
        </div>
        <div class="row">
            <img src="assets/images/favicon.png" alt="Ajpi" class="img-footer">
        </div>
    </div>
</div>
<div class="row white-text credits">
    <div class="col-12 center">
        <a href="https://www.facebook.com/pablo.garcia.pr" target="_blank" class="white-text">
        Diseño Web: Pablo Garcia - {{fecha}}
        </a>
    </div>
</div>