<div *ngIf="!muestraPago && !muestraDeuda">
    <div class="row">
        <div class="col-12">
            <h1>Cuotas abonadas/adeudadas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2" *ngFor="let periodo of periodos">
            <!-- <mat-checkbox>{{periodo.periodo}}</mat-checkbox> -->
        </div>
    </div>
    <div class="row">
        <h2 *ngIf="cuotasPagadas.length == 0">No tiene cuotas pagadas</h2>
        <div class="col-12" *ngIf="cuotasPagadas.length != 0">
            <div *ngFor="let cuotaPagada of cuotasPagadas">
                <div class="col-8">
                    <div class="col-6">
                        <p>Período: {{cuotaPagada.periodo}}</p>
                    </div>
                    <div class="col-6">
                        <p>Deuda: {{cuotaPagada.deuda}}</p>
                    </div>
                </div>
                <div class="col-4">
                    <mat-icon color="primary" class="cursor mt-1" (click)="deletePago(cuotaPagada.id)">close</mat-icon>
                </div>
            </div>
        </div>
        <div class="col-6">
            <button mat-raised-button color="primary" (click)="nuevoPago()">Nuevo Pago</button>
        </div>
        <div class="col-6">
            <button mat-raised-button color="primary" (click)="nuevaDeuda()">Nueva Deuda</button>
        </div>
    </div>
</div>
<div *ngIf="muestraPago">
    <div class="row">
        <div class="col-12">
            <h1>Nuevo Pago</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Periodos</mat-label>
                <mat-select  multiple [(ngModel)]="selectedList">
                  <mat-option *ngFor="let periodo of periodos" [value]="periodo.id">{{periodo.periodo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12">
            <button mat-raised-button color="primary" class="w-100" (click)="pagar()">Confirmar</button>
        </div>
    </div>
</div>

<div *ngIf="muestraDeuda">
    <div class="row">
        <div class="col-12">
            <h1>Nueva Deuda</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Periodo</mat-label>
                <mat-select multiple [(ngModel)]="selectedList">
                  <mat-option *ngFor="let periodo of periodos" [value]="periodo.id">{{periodo.periodo}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Importe</mat-label>
                <input matInput type="number" [(ngModel)]="deuda">
            </mat-form-field>
        </div>
        <div class="col-12">
            <button mat-raised-button color="primary" class="w-100" (click)="cargarDeuda()">Confirmar</button>
        </div>
    </div>
</div>