::ng-deep .ql-toolbar.ql-snow{
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-color: rgba(0, 0, 0, 0.12);
}
::ng-deep .ql-container.ql-snow{
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    border-color: rgba(0, 0, 0, 0.12);
}