<div class="row mt-5">
    <div class="col-10">
        <h1 *ngIf="!editMode">Nuevo Curso</h1>
        <h1 *ngIf="editMode">Editar Curso</h1>
    </div>
</div>
<div class="row">
    <form [formGroup]="cursoForm" #form (submit)="publicarEditar()">
        <div class="col-12">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Nombre del Curso</mat-label>
                <input matInput formControlName="curso">
                <mat-error *ngIf="cursoForm.controls.curso.touched && cursoForm.controls.curso.invalid">
                    <span *ngIf="cursoForm.controls.curso.errors?.required">Campo obligatorio</span>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-12">
            <button mat-raised-button color="primary" type="submit" class="right" *ngIf="!editMode">Crear</button>
            <button mat-raised-button color="primary" type="submit" class="right" *ngIf="editMode">Modificar</button>
        </div>
    </form>
</div>